@font-face {
    font-family: 'futura';
    src: url('futura/futura\ medium\ bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('futura/Futura\ Bold\ font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'futura', sans-serif;
    background-image: url(assignment-background.jpg);
    color:white;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    word-spacing: 3px;
    margin-top: 150px;
}

h4, p {
    text-align: center;
    font-size: 35px;
}

ul {
    list-style: none;
    margin: 40px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
}    

li {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 20px;
}

